In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler
#import wrangle
import env
import seaborn as sns
import acquire
import prep

In [2]:
#single family residence from zillow DB
df = prep.prep_df()

In [ ]:
df.isnull().sum().sort_values(ascending=False)

In [ ]:
#drops columns with < 80% of values filled in
df = prep.impute_values(df)
df = prep.drop_columns(df)

In [ ]:
df = df.dropna(how='any')

In [3]:
test = df[(df.propertycountylandusecode != "010G") & ((df.propertycountylandusecode != "010M"))]

test.propertycountylandusecode.astype(float)

0         100.0
1         100.0
2         100.0
3         100.0
4         100.0
5         101.0
6         100.0
7           1.0
8           1.0
9           1.0
13          1.0
14          1.0
15          1.0
16          1.0
17          1.0
18          1.0
19          1.0
30       1110.0
31       1110.0
32       1110.0
33       1110.0
34       1110.0
35       1111.0
36       1111.0
37       1111.0
38       1111.0
39       1110.0
40       1110.0
41       1110.0
42       1110.0
          ...
55549     100.0
55550     100.0
55551     100.0
55552     100.0
55553     100.0
55554     101.0
55555     101.0
55556     100.0
55557     100.0
55558     100.0
55559     100.0
55560     100.0
55561     100.0
55562     100.0
55563     100.0
55564     100.0
55565     100.0
55566     100.0
55567     101.0
55568     100.0
55569     100.0
55570     100.0
55571     101.0
55572     101.0
55573     100.0
55574     100.0
55575     100.0
55576     100.0
55577     100.0
55578     100.0
Name: propertycountylandusecode, Length: 54544, dtype: float64

In [ ]:
test = df[(df.propertycountylandusecode == "010G") | ((df.propertycountylandusecode == "010M"))]

test.shape

In [ ]:
df[['landtaxvaluedollarcnt','lotsizesquarefeet']].head()

In [ ]:
df['tax_value_per_foot'] = df.landtaxvaluedollarcnt/df.lotsizesquarefeet
df.tax_value_per_foot.mean()

In [ ]:
(df.structuretaxvaluedollarcnt/df.tax_value).mean()

In [4]:
df.head().T

,0,1,2,3,4
bathrooms,2,4,2,1,2
bedrooms,4,3,3,3,3
sqft,3633,1620,2077,1244,1300
tax_value,296425,847770,646760,169471,233266
fips,6037,6037,6037,6037,6037
latitude,3.456e+07,3.39962e+07,3.4013e+07,3.39536e+07,3.38971e+07
longitude,-1.1817e+08,-1.18438e+08,-1.18479e+08,-1.18084e+08,-1.18103e+08
lotsizesquarefeet,9826,12842.7,6490,6021,4917
propertycountylandusecode,0100,0100,0100,0100,0100
regionidcity,40227,12447,26964,13716,53636
regionidcounty,3101,3101,3101,3101,3101
regionidzip,97329,96047,96152,96201,96193
yearbuilt,2005,2011,1926,1950,1950
structuretaxvaluedollarcnt,222321,339532,210192,108040,77415
assessmentyear,2016,2016,2016,2016,2016
logerror,0.0424629,-0.0195456,-0.0408066,0.0424121,-0.000908077

In [ ]:
df.lotsizesquarefeet.head()

In [ ]:
df.landtaxvaluedollarcnt /df.tax_value_per_foot.mean()

In [ ]:
df_nulls_r = pd.DataFrame(df.apply(lambda x: df.shape[1] -x.count(),axis=1))
df_nulls_r['pct_rows_missing'] = df_nulls_r[0] / df.shape[1]
row_drops = df_nulls_r[df_nulls_r['pct_rows_missing'] >.2]
row_drops['column_names'] = row_drops.index
row_drops = list(row_drops.column_names)
#df_new = df.drop(row_drops,axis=0)

df_nulls_r.max()