In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler
#import wrangle
import env
import seaborn as sns
import acquire
import prep

In [2]:
#single family residence from zillow DB
df = acquire.wrangle_zillow()

In [3]:
#drops columns with < 80% of values filled in
df = prep.drop_columns(df)

In [4]:
df.head()

,bathrooms,bedrooms,sqft,tax_value,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,...,regionidzip,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror
0,2.0,4.0,3633.0,296425.0,2.0,4.0,2.0,3633.0,3633.0,6037.0,...,97329.0,0.0,2005.0,222321.0,296425.0,2016.0,74104.0,6941.39,NaN,0.042463
1,4.0,3.0,1620.0,847770.0,4.0,3.0,4.0,1620.0,1620.0,6037.0,...,96047.0,0.0,2011.0,339532.0,847770.0,2016.0,508238.0,10244.94,NaN,-0.019546
2,2.0,3.0,2077.0,646760.0,2.0,3.0,2.0,2077.0,2077.0,6037.0,...,96152.0,0.0,1926.0,210192.0,646760.0,2016.0,436568.0,7924.68,NaN,-0.040807
3,1.0,3.0,1244.0,169471.0,1.0,3.0,1.0,1244.0,1244.0,6037.0,...,96201.0,0.0,1950.0,108040.0,169471.0,2016.0,61431.0,2532.88,NaN,0.042412
4,2.0,3.0,1300.0,233266.0,2.0,3.0,2.0,1300.0,1300.0,6037.0,...,96193.0,0.0,1950.0,77415.0,233266.0,2016.0,155851.0,3110.99,NaN,-0.000908

In [6]:
df.roomcnt

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
55656    0.0
55657    0.0
55658    0.0
55659    0.0
55660    0.0
55661    0.0
55662    0.0
55663    0.0
55664    0.0
55665    0.0
55666    0.0
55667    0.0
55668    0.0
55669    0.0
55670    0.0
55671    0.0
55672    0.0
55673    0.0
55674    0.0
55675    0.0
55676    0.0
55677    0.0
55678    0.0
55679    0.0
55680    0.0
55681    0.0
55682    0.0
55683    0.0
55684    0.0
55685    0.0
Name: roomcnt, Length: 55686, dtype: float64

In [5]:
df.isnull().sum().sort_values(ascending=False)

regionidcity                    1008
lotsizesquarefeet                300
censustractandblock              263
finishedsquarefeet12             186
taxamount                         71
regionidzip                       64
structuretaxvaluedollarcnt        62
yearbuilt                         27
fullbathcnt                       20
calculatedbathnbr                 20
calculatedfinishedsquarefeet       0
logerror                           0
bedroomcnt                         0
bathroomcnt                        0
tax_value                          0
sqft                               0
bedrooms                           0
fips                               0
propertycountylandusecode          0
latitude                           0
longitude                          0
propertylandusetypeid              0
rawcensustractandblock             0
regionidcounty                     0
roomcnt                            0
taxvaluedollarcnt                  0
assessmentyear                     0
landtaxvaluedollarcnt              0
bathrooms                          0
dtype: int64

In [ ]:
df[['landtaxvaluedollarcnt','lotsizesquarefeet']].head()

In [ ]:
df['tax_value_per_foot'] = df.landtaxvaluedollarcnt/df.lotsizesquarefeet
df.tax_value_per_foot.mean()

In [ ]:
df.lotsizesquarefeet.head()

In [ ]:
df.landtaxvaluedollarcnt /df.tax_value_per_foot.mean()

In [ ]:
df.isnull().sum().sort_values(ascending=False)