In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler
#import wrangle
import env
import seaborn as sns
import acquire
import prep

In [2]:
#single family residence from zil
df = acquire.wrangle_zillow()

In [3]:
df = prep.drop_columns(df)

In [4]:
df.columns

Index(['transactiondate', 'id', 'bathrooms', 'bedrooms', 'sqft', 'tax_value',
       'id', 'parcelid', 'bathroomcnt', 'bedroomcnt', 'calculatedbathnbr',
       'calculatedfinishedsquarefeet', 'finishedsquarefeet12', 'fips',
       'fullbathcnt', 'latitude', 'longitude', 'lotsizesquarefeet',
       'propertycountylandusecode', 'propertylandusetypeid',
       'rawcensustractandblock', 'regionidcity', 'regionidcounty',
       'regionidzip', 'roomcnt', 'yearbuilt', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'censustractandblock'],
      dtype='object')

In [5]:
df.head().T

,0,1,2,3,4
transactiondate,2017-01-02,2017-01-02,2017-01-02,2017-01-03,2017-01-03
id,20,31,33,110,111
bathrooms,2,4,2,1,2
bedrooms,4,3,3,3,3
sqft,3633,1620,2077,1244,1300
tax_value,296425,847770,646760,169471,233266
id,20,31,33,110,111
parcelid,11324547,11544747,11585547,12716947,12757147
bathroomcnt,2,4,2,1,2
bedroomcnt,4,3,3,3,3
calculatedbathnbr,2,4,2,1,2
calculatedfinishedsquarefeet,3633,1620,2077,1244,1300
finishedsquarefeet12,3633,1620,2077,1244,1300
fips,6037,6037,6037,6037,6037
fullbathcnt,2,4,2,1,2
latitude,3.456e+07,3.39962e+07,3.4013e+07,3.39536e+07,3.38971e+07
longitude,-1.1817e+08,-1.18438e+08,-1.18479e+08,-1.18084e+08,-1.18103e+08
lotsizesquarefeet,9826,NaN,6490,6021,4917
propertycountylandusecode,0100,0100,0100,0100,0100
propertylandusetypeid,261,261,261,261,261
rawcensustractandblock,6.03791e+07,6.03727e+07,6.0377e+07,6.0375e+07,6.03755e+07
regionidcity,40227,12447,26964,13716,53636
regionidcounty,3101,3101,3101,3101,3101
regionidzip,97329,96047,96152,96201,96193
roomcnt,0,0,0,0,0
yearbuilt,2005,2011,1926,1950,1950
structuretaxvaluedollarcnt,222321,339532,210192,108040,77415
taxvaluedollarcnt,296425,847770,646760,169471,233266
assessmentyear,2016,2016,2016,2016,2016
landtaxvaluedollarcnt,74104,508238,436568,61431,155851
taxamount,6941.39,10244.9,7924.68,2532.88,3110.99
censustractandblock,NaN,NaN,NaN,NaN,NaN

In [7]:
df.isnull().sum().sort_values(ascending=False)

regionidcity                    1008
lotsizesquarefeet                300
censustractandblock              263
finishedsquarefeet12             186
taxamount                         71
regionidzip                       64
structuretaxvaluedollarcnt        62
yearbuilt                         27
calculatedbathnbr                 20
fullbathcnt                       20
bathroomcnt                        0
bedroomcnt                         0
id                                 0
bathrooms                          0
parcelid                           0
bedrooms                           0
calculatedfinishedsquarefeet       0
tax_value                          0
sqft                               0
id                                 0
latitude                           0
fips                               0
longitude                          0
propertycountylandusecode          0
propertylandusetypeid              0
rawcensustractandblock             0
regionidcounty                     0
roomcnt                            0
taxvaluedollarcnt                  0
assessmentyear                     0
landtaxvaluedollarcnt              0
transactiondate                    0
dtype: int64